@using WebTaskManager.Models
@model IEnumerable<TaskModel>
@{
    ViewData["Title"] = "Задачи";
}

<div class="text-center">
    <h1 class="display-4">Список задач</h1>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Дата и время начала</th>
            <th>Дата и время окончания</th>
            <th>Статус активности</th>
        </tr>
        @foreach (TaskModel item in Model)
        {
            <tr><td>@item.Name</td><td>@item.StartDateTime</td><td>@item.EndDateTime</td><td>@item.ActivityState</td></tr>
        }
    </table>
</div>
